*.sw[op]
*.[oa]
*~
Makefile
Makefile.in
.deps
.libs
.dirstamp

aclocal.m4
autom4te.cache/
config.log
config.status
configure
depcomp
install-sh
missing
spectrogram-thumbnailer
src/spectrogram_thumbnailer-spectrogram-thumbnailer.o
spectrogram-thumbnailer.thumbnailer
